<a href="https://colab.research.google.com/github/arguntolga/ts_jupyter/blob/main/abovebelowma3_ERR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import yfinance as yf
import pandas as pd
import pandas.api.types as pdtypes
import numpy as np
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

# Define your two stock tickers
#stock_list = ["EREGL.IS", "FROTO.IS", "THYAO.IS", "TTRAK.IS", "MIATK.IS"]
stock_list = [
    "AKBNK.IS", "ARCLK.IS", "ASELS.IS", "BIMAS.IS", "BRISA.IS", "ASTOR.IS",
    "DOHOL.IS", "SASA.IS", "EKGYO.IS", "ENKAI.IS", "EREGL.IS", "FROTO.IS",
    "GARAN.IS", "GUBRF.IS", "HALKB.IS", "HEKTS.IS", "ISCTR.IS", "KCHOL.IS",
    "KOZAA.IS", "KOZAL.IS", "KRDMD.IS", "MGROS.IS", "TTRAK.IS", "PETKM.IS",
    #"PGSUS.IS", "SAHOL.IS", "SISE.IS", "TAVHL.IS", "THYAO.IS", "TKFEN.IS"
    #"TTKOM.IS", "TUPRS.IS", "ULKER.IS", "VESTL.IS", "YKBNK.IS", "VESBE.IS",
    "ALFAS.IS", "TCELL.IS", "ALARK.IS", "BOBET.IS", "KONYA.IS", "AKSA.IS"
    #"AKSEN.IS", "YEOTK.IS", "GESAN.IS", "EUPWR.IS", "CWENE.IS", "YYLGD.IS"
]

# Set start and end dates
start_date = "2023-05-04"
end_date = "2024-05-31"

# Download data using yfinance
data = yf.download(stock_list, start=start_date, end=end_date)["Adj Close"]

print(data)

def calculate_moving_averages(stock_list, data, window_sizes):
  for stock in stock_list:
    for window in window_sizes:
      data[stock + '_MA_' + str(window)] = data[stock].rolling(window=window).mean()
  return data

def calculate_above_below_ma(stock_list, data, window_sizes):
  above_below_counts = {}
  for date in data.index:
    daily_counts = {}
    for window in window_sizes:
      above_count = 0
      for stock in stock_list:
        ma_col = f"{stock}_MA_{window}"
        above_count += (data.loc[date, stock] > data.loc[date, ma_col])
      below_count = len(stock_list) - above_count
      daily_counts["Above MA" + str(window)] = above_count
      daily_counts["Below MA" + str(window)] = below_count
      daily_counts["Ratio MA" + str(window)] = above_count / max(1,below_count)
    above_below_counts[date] = daily_counts
  return pd.DataFrame(above_below_counts).transpose()


def calculate_super_stock(stock_list, data, window_sizes):
  super_stock = 0
  super_stock_df = pd.DataFrame(index=data.index, columns=stock_list)
  for date in data.index:
    for stock in stock_list:
      super_stock_level = 0
      if data.loc[date, stock] > data.loc[date, f"{stock}_MA_{window_sizes[0]}"]:
          super_stock_level += 1
      for window_idx in range(len(window_sizes) - 1):
        current_ma_col = f"{stock}_MA_{window_sizes[window_idx]}"
        next_ma_col = f"{stock}_MA_{window_sizes[window_idx + 1]}"
        if data.loc[date, current_ma_col] > data.loc[date, next_ma_col]:
          super_stock_level += 1
      super_stock_df.loc[date, stock] = int(super_stock_level)
  return super_stock_df


# Define window sizes for moving averages
window_sizes = [10, 20, 50, 100, 200]

# Apply the moving average calculation
data_with_ma = calculate_moving_averages(stock_list, data.copy(), window_sizes)
display(data_with_ma)

def drop_oldest_rows(data, n_rows_to_drop):
  # Sort by index (assuming it's a date index)
  data_sorted = data.sort_index()
  # Select and drop the oldest N rows using iloc (integer location based indexing)
  data_dropped = data_sorted.iloc[n_rows_to_drop:]
  return data_dropped

data_dropped_ma = drop_oldest_rows(data_with_ma.copy(), 200)

# Calculate above/below MA counts
above_below_data = calculate_above_below_ma(stock_list, data_dropped_ma.copy(), window_sizes)
#print(above_below_data)

def green_red(value):
    if value < 0:
        return 'color: red; font-weight: bold'
    elif value > 1000:
        return 'color: green; font-weight: bold'
    else:
        return None

above_below_reversed = above_below_data.iloc[::-1]
#above_below_reversed.style.applymap(green_red)

def convert_to_int_if_zero_fraction(df):
  # Select numeric columns only (avoid errors with non-numeric data)
  numeric_cols = df.select_dtypes(include=[np.number])
  for col in numeric_cols:
    # Apply conversion function to the selected numeric column
    df[col] = df[col].apply(lambda x: int(x) if isinstance(x, (int, float)) and x % 1 == 0 else x)
  return df

# Apply conversion to all numeric columns
above_below_reversed = convert_to_int_if_zero_fraction(above_below_reversed.copy())  # Operate on a copy to avoid modifying original data
above_below_reversed.style.applymap(green_red)

#display(above_below_data.iloc[::-1])

#super_stock_data = calculate_super_stock(stock_list, data_dropped_ma, window_sizes)
#cm = sns.light_palette("green", as_cmap=True)
#super_stock_data.iloc[::-1].apply(pd.to_numeric).style.set_sticky(axis=1).background_gradient(cmap=cm)

[*********************100%%**********************]  30 of 30 completed

Ticker       AKBNK.IS     AKSA.IS    ALARK.IS   ALFAS.IS    ARCLK.IS  \
Date
2023-05-04  14.892218   55.649345   53.731590  40.525002   90.730965
2023-05-05  14.604723   55.316971   52.225552  36.474998   88.420906
2023-05-08  15.802617   56.076687   54.168827  34.312500   90.534363
2023-05-09  16.013447   54.129910   53.148613  31.875000   90.583519
2023-05-10  16.109278   53.465157   50.233696  30.387501   90.976715
...               ...         ...         ...        ...         ...
2024-05-24  66.500000  122.000000  119.624115  78.500000  187.199997
2024-05-27  68.000000  117.599998  117.045151  77.099998  185.899994
2024-05-28  69.800003  119.500000  118.334633  76.099998  187.000000
2024-05-29  66.000000  121.400002  118.731392  74.550003  184.000000
2024-05-30  65.699997  121.300003  122.500000  74.650002  181.800003

Ticker       ASELS.IS    ASTOR.IS    BIMAS.IS   BOBET.IS    BRISA.IS  ...  \
Date                                                                  ...
2023-05-04  20.960352   45.200001  152.502319  20.200201   40.013248  ...
2023-05-05  20.161863   44.520000  153.578369  20.142761   38.456314  ...
2023-05-08  20.780691   44.000000  158.665039  19.191519   38.923393  ...
2023-05-09  19.982203   41.560001  161.893112  19.730883   38.067078  ...
2023-05-10  19.473166   40.860001  155.143494  19.338617   37.658386  ...
...               ...         ...         ...        ...         ...  ...
2024-05-24  59.250000  107.300003  467.500000  31.600000  119.500000  ...
2024-05-27  60.049999  103.900002  477.000000  30.420000  122.400002  ...
2024-05-28  59.599998  102.800003  481.750000  29.860001  118.400002  ...
2024-05-29  57.549999  100.000000  477.000000  29.180000  115.000000  ...
2024-05-30  60.099998   99.199997  474.750000  28.780001  115.500000  ...

Ticker        KCHOL.IS     KONYA.IS   KOZAA.IS   KOZAL.IS   KRDMD.IS  \
Date
2023-05-04   73.618515  2489.800049  32.500000  16.454773  13.543534
2023-05-05   72.896294  2429.899902  31.400000  16.109913  13.286128
2023-05-08   77.614815  2498.600098  32.299999  16.346388  14.286053
2023-05-09   83.633331  2406.100098  32.500000  15.932555  13.959345
2023-05-10   84.596298  2440.000000  32.860001  16.149324  13.781140
...                ...          ...        ...        ...        ...
2024-05-24  248.199997  9250.000000  50.099998  21.879999  29.860001
2024-05-27  249.899994  9045.000000  52.000000  22.219999  29.900000
2024-05-28  249.800003  8997.500000  52.849998  22.520000  29.540001
2024-05-29  250.750000  8795.000000  50.650002  21.620001  29.000000
2024-05-30  249.000000  8695.000000  50.400002  21.540001  28.780001

Ticker        MGROS.IS  PETKM.IS    SASA.IS   TCELL.IS     TTRAK.IS
Date
2023-05-04  167.785278     12.36  43.105373  31.632307   263.855469
2023-05-05  166.426682     12.18  40.851360  30.808138   255.666168
2023-05-08  172.637360     12.61  40.357620  31.867781   262.557159
2023-05-09  177.586502     12.17  39.284283  31.769669   270.696533
2023-05-10  173.704834     11.83  39.134014  33.064789   266.601898
...                ...       ...        ...        ...          ...
2024-05-24  458.095978     21.24  48.779999  91.800003  1011.000000
2024-05-27  470.500000     21.58  47.459999  89.599998   992.000000
2024-05-28  481.500000     21.60  46.799999  90.750000   979.000000
2024-05-29  477.500000     21.02  45.160000  91.599998   993.000000
2024-05-30  474.000000     20.74  45.900002  95.750000   987.000000

[270 rows x 30 columns]

Ticker,AKBNK.IS,AKSA.IS,ALARK.IS,ALFAS.IS,ARCLK.IS,ASELS.IS,ASTOR.IS,BIMAS.IS,BOBET.IS,BRISA.IS,...,KONYA.IS_MA_10,KONYA.IS_MA_20,KONYA.IS_MA_50,KONYA.IS_MA_100,KONYA.IS_MA_200,AKSA.IS_MA_10,AKSA.IS_MA_20,AKSA.IS_MA_50,AKSA.IS_MA_100,AKSA.IS_MA_200
Date,,,,,,,,,,,,,,,,,,,,,
2023-05-04,14.892218,55.649345,53.731590,40.525002,90.730965,20.960352,45.200001,152.502319,20.200201,40.013248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-05,14.604723,55.316971,52.225552,36.474998,88.420906,20.161863,44.520000,153.578369,20.142761,38.456314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-08,15.802617,56.076687,54.168827,34.312500,90.534363,20.780691,44.000000,158.665039,19.191519,38.923393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-09,16.013447,54.129910,53.148613,31.875000,90.583519,19.982203,41.560001,161.893112,19.730883,38.067078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-05-10,16.109278,53.465157,50.233696,30.387501,90.976715,19.473166,40.860001,155.143494,19.338617,37.658386,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-24,66.500000,122.000000,119.624115,78.500000,187.199997,59.250000,107.300003,467.500000,31.600000,119.500000,...,9475.25,10429.625,NaN,NaN,NaN,122.510001,120.080000,NaN,NaN,NaN
2024-05-27,68.000000,117.599998,117.045151,77.099998,185.899994,60.049999,103.900002,477.000000,30.420000,122.400002,...,9437.00,10322.250,NaN,NaN,NaN,122.380000,120.305000,NaN,NaN,NaN
2024-05-28,69.800003,119.500000,118.334633,76.099998,187.000000,59.599998,102.800003,481.750000,29.860001,118.400002,...,9373.50,10200.875,NaN,NaN,NaN,122.120000,120.455000,NaN,NaN,NaN
2024-05-29,66.000000,121.400002,118.731392,74.550003,184.000000,57.549999,100.000000,477.000000,29.180000,115.000000,...,9297.25,10068.625,NaN,NaN,NaN,122.300001,120.705000,NaN,NaN,NaN
2024-05-30,65.699997,121.300003,122.500000,74.650002,181.800003,60.099998,99.199997,474.750000,28.780001,115.500000,...,9217.00,9916.125,NaN,NaN,NaN,122.130001,120.790001,NaN,NaN,NaN

Warning: Total number of columns (180) exceeds max_columns (20) limiting to first (20) columns.